[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Adguard
Exec=/usr/bin/xdg-open http://localhost:3030
Icon=/usr/share/icons/hicolor/scalable/apps/docker-adguard.svg
Categories=Docker; 
